body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(90deg, rgba(229, 205, 50, 0.777) 0%, rgb(169, 231, 68) 100%);
  color: rgb(30, 36, 39);
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#contenedor {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: auto;
  margin: auto;
  background-color: rgba(250, 235, 215, 0.37);
  border-radius: 30px;
  
}

#guess-input {
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 auto 15px;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  width: 200px;
  background-color: rgba(235, 251, 227, 0.412);
  border: 3px solid #000000;
  border-radius: 20px;
}

#guess-button {
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0 auto 10px;
  width: 150px;
  padding: 8px;
  font-size: 15px;
  background-color: #1280319b;
  color: #1c1717;
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer;
}

#guess-button:hover {
  transform: scale(1.05);
}

#grid {
  margin:auto;
  width: auto;
}

button:active {
  transform: scale(0.95);
}

.letter {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 22px;
  font-size: 28px;
  color: #1e1806;;
  padding: 2px 2px;
  margin: 5px;
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  justify-content: center;
  display: inline-flex;
}

.mensaje {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Responsive */

@media screen and (max-width: 900px) {
  h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #contenedor {
    width: 80vw;
  }
  #guess-input {
    width:75%;
  }
  #guess-button {
    width: 30%;
  }

  #grid {
    width: auto;
    text-align: center;
    font-size: 30px;
  }
  
}
